.jumbotron
  .container
    %h1
      %strong Achieve your perfect form
    %p A step by step plan to get the perfect body through simple nutrition and exercise.
    %p.jumbobuttons
      %a.btn.btn-primary.btn-lg Learn more
      = link_to "Join now!", user_facebook_omniauth_authorize_path, :class => "btn btn-primary btn-lg"
