@import "select2";
@import "select2-bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome";
@import "bootswatch/readable/variables";
@import "bootstrap";
@import "bootswatch/readable/bootswatch";


body {
  background-color: #fafafa;
}

.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  text-align: center;
  padding-top: 150px;
  height: 600px;
  padding-bottom: 100px;
}

.jumbobuttons {
  margin-top: 50px;
}

.panel-primary {
  height: 250px;
}

.main {
  margin-top:50px;
}

.modal-content {
  border-radius: 0px;
  padding: 25px;
}

.mcustom {
  border: none;
}

.btn-square {
  height:150px;
  width: 150px;
  border-radius: 0px;
  margin-bottom: 25px;
}

.hidden {
  display: none;
}

#trigger {
  display:none;
}

.select2 {
  width: 100% !important;
}
